.graph{
    width: 100%;
    height: 20rem;
}


.line{
    max-height: 100%;
    max-width: 100%;

}

.message{
 text-align: center;
 margin: auto 0;
}

/* @media (max-width: 1000px) {




  

} */


@media (max-width: 600px) {
    .graph{
      display: none;
      /* outline: sollid 3px red; */
      width: 50%;
    
    }



}
