.selector{
    display: flex;
    width: 98%;
    font-size: small;
    justify-content: space-between;
    gap: 1rem;

}

.selector button{
    font-size: small;
 width: 5rem;
 height: 1.8rem;
}



.selector input{
    width: fit-content;
  
}
.date_input{
       width: 10rem;
       display: flex;
       justify-content: space-between;
       align-items: center;
       

}



.pageNumber{
    padding-top:.7rem;
    font-size: small;
    
}

@media (max-width: 1000px) {



  

}


@media (max-width: 600px) {
    .selector{
        display: flex;
   
    }
    
    .pageNumber{
       display: none;
    }


}



