.history{
   
    display: flex;
    flex-direction: column;
    gap: 2rem;

    
    
}

.message{
    text-align: center;

}

.tbody tr:nth-child(even) {
    background-color: #D6EEEE;
    white-space: nowrap;
  
  }

