.history{
   
    display: flex;
    flex-direction: column;
    gap: 2rem;

    
    
}

.message{
    text-align: center;

}

.tbody tr:nth-child(even) {
    background-color: #D6EEEE;
    white-space: nowrap;
  
  }


  /* @media (max-width: 1000px) {




  

} */


@media (max-width: 600px) {
    .history{
      width: 80%;
      align-self: center;

   }



}


