.data{
    width: 9.5%;
    display: inline-flex;
    flex-direction: column;
    clear: both;
    border-left: solid 2px beige;
    
}

.data td{
    padding: .5rem;
    text-align: center;
}

.data  th{
   
    display: flex;
    min-height: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-color: rgb(36, 36, 48);
    color: beige;
    font-size: .8rem;
    

}

.data td:nth-child(even) {
    background-color: #D6EEEE;
    white-space: nowrap;
  
  }

  .data:last-child  th{
      border-top-right-radius: .5rem;
  }


