.header{
    display: flex;
    width: 20%;
    flex-direction: column; 
    float: left;
    font-size: small;
 
}



 .header td{
  
    padding: .5rem;
    text-align: left;
    white-space: nowrap;

}


.header  th{
    display: flex;
    min-height: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    background-color: rgb(36, 36, 48);
    border-top-left-radius: 0.5rem;
    color: rgb(245, 245, 220);
    

}



.header td:nth-child(even) {
    background-color: #D6EEEE;
    white-space: nowrap;
  
  }
