.header{
    display: flex;
    padding: .5rem ;
    justify-content: space-between;
}

.header_menu{
    height:  100%;
    width: 25%;
    display: flex;    
    justify-content: flex-end;

}

.header_menu  button {
  
    font-size: small;
    padding: 0.1rem;
    width: 5.5rem;
    height: 1.6rem;
  
   
  }

