.footer{
    color: rgb(121, 119, 119);
    height: 5%;
    display: flex;
    padding: 1rem ;
    justify-content: center;
}

@media (max-width: 1000px) {



  

}


@media (max-width: 600px) {
    .footer{
        width: 100%;

    }
 


}
