*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
  font-size: small;
  height: fit-content;
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



main{
  height: 100vh;
  width: 100vw;
  
 
}

input{
  border: solid 1px rgb(90, 89, 89);
  border-radius: 5px;
  text-align: center;
  height: 1.5rem;
  

  
}

@media (max-width: 1000px) {



  

}


@media (max-width: 600px) {
  main{
    width: 100%;
    height: fit-content;
  }
 


}






