body {
  margin: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  display: grid;
  grid-template-columns: 65% 30%;
  gap: 4rem 2rem;
  margin: 2rem;
}


